/* ==========================================================================
   Table of Contents Desktop Media Queries
   ==========================================================================
	
	* Disable style
	
	* Sidebar
	
		** Logo
		** Main navigation
		** Search
		
   ==========================================================================*/
   		

/* ==========================================================================
   Disable style
   ========================================================================== */

aside.phone, #main_menu select {
	display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

/*
 * 	Logo
 */

header.logo {
	margin: 49px 0 55px 0;
}


/*
 * Main navigation
 */

#main_menu {
	margin: 20px 0;
}

/*
 * Search
 */
 
#search {
	margin-bottom: 0;
}