/* ==========================================================================
   Table of Contents Phone Media Queries
   ==========================================================================
	
	* Disable style
	
	* Sidebar
	
		** Logo
		** Main navigation
		** Social
		** Filter, Search
		** Footer
		
	* Wrap or/and Content
	
		** PortfolioPortfolio, Portfolio Mixed
		** About Us
		** 404 Page
		** News & Blog Open
		** Our Team
		** Full Width Page
		** Slider
		** Contant Us
		
    ==========================================================================*/
  
  
/* ==========================================================================
   Disable style
   ========================================================================== */
 
#main_menu ul, aside.desktop {
	display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar {
	position: relative;
	max-width: 100%;
	width: auto;
	text-align: center;
	float: none;
	overflow: hidden;
}

/* 
 *  Logo
 */
   
header.logo h1 a img {
	max-width: 100%;
}

/*
 *  Main navigation
 */

#main_menu {
	margin: 20px 0;
}

#main_menu select {
	padding: 5px;
	width: 80%;
}

/*
 *  Social
 */

#sidebar aside.phone {
	width: 100%;
}

#sidebar aside.phone ul img {
	width: 25px;
	height: 25px;
	margin: 0 5px;
}
.social ul li {
	display: inline-block;
	float: none;
	margin: 0px 7px 10px 0px;
}

.widget {
	margin-bottom: 20px;
}

/* 
 *  Filter, Search
 */

#filters {
	width: 100%;
}

#filters h4, #search h4 {
	text-indent: -999em;
	height: 0;
	margin: 0;
}

#filters ul {
	width: 100%;
	text-align: center;
}

#filters ul li {
	display: inline-block;
	padding: 0 15px;
	float: none;
}

/* 
 *  Footer
 */

#footer {
	display: none;
}

/* ==========================================================================
   Wrap and/or Content
   ========================================================================== */
 
#content, #wrap,  #wrap_full {
	margin: 15px 0 0;
}

section#content {
	width: 98%;
}

#wrap, #wrap_full {
	margin-left: 0 !important;
}

/* 
 *  Portfolio, Portfolio Mixed
 */

#wrap .mixed, #wrap .portfolio, #wrap_full .portfolio  {
	margin: 0;
}

/* 
 *  About Us
 */

.content_about_us {
	width: 100%;
}

.about_us_img {
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}

/* 
 *  404 Page
 */

.page_404 > div, .page_about_us > div {
	position: relative;
	width: 80%;
	margin: 0 auto;
	left: auto;
}

.page_404, .page_about_us {
	padding-bottom: 150px;
	overflow: hidden;
}

.head_404, head_about_us  {
	padding-right: 4px;
}

.head_404  h2, head_about_us h2 {
	max-width: 100%;
}

/* 
 *  News & Blog Open
 */

#wrap .news_and_blog_open {
	margin: 0 2%;
	max-width: 96%;
}

#wrap .news_and_blog_open > div {
	text-align: center;
}

/* 
 *  Our Team
 */

.page_our_team > div {
	position: relative;
	margin: 0 auto;
	left: 5%;
	width: 95%;	
}

/* 
 *  Full Width
 */

#wrap .full_width {
	margin: 0px 2%;
 	width: 96%;
}

/* 
 *  Slider 
 */

.slider {
	margin-left: 0px;
}

.slider_header { 
	margin-top: 15%;
}

.slider_box {
	margin-left: 17%;
}

.slidebutton {	
	float: left;
} 

/* 
 *   Contact Us
 */

.contact_us .item {
	width: 98%;
	margin: 0 1%;
}

.contact_us_bottom {
	width: 98%;
	margin: 0 1%;
}

.contact_us_bottom .respond {
	border: none;
}